/***********
  Speakers
 ***********/
.speakers figure{
  display: inline-block;
}

.speakers img{
  width: 300px;
  height: 300px;
}

.speaker-name{
  font-weight: bold;
}

.speaker-title{
  font-style: italic;
}

/**************
  Breadcrumbs
 **************/
.breadcrumbs-nav {
  display: inline;
}

.breadcrumbs-nav ol{
  display: inline-block;
  padding: 0.5em;
  padding-left: 1em;
}

.breadcrumbs-nav li{
  display: inline;
}

.breadcrumbs-nav li::after{
  content: " > ";
}

.breadcrumbs-nav li:last-child::after{
  content: "";
}

/******************
  Form Validation
 ******************/
  .valid{
    color: green;
    display: none;
  }

  .invalid{
    color: red;
    display: none;
  }

  input:required:valid + .field-message .valid{
    display: inline;
  }

  input:required:invalid + .field-message .invalid{
    display: inline;
  }

  form:valid{
    /* background-color: green; */
  }

  form:invalid{
    /* background-color: red; */
  }







